body {
  font-family: "Lora", serif;
  margin: 0;
  padding: 0;
  background-color: #ede6dc;
}
/*NAVBAR Y LOGO*/
.navbar {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #aaa185;
}

.navbar-brand {
  margin: 0;
  padding: 0;
}

.navbar-brand .logo {
  max-height: 100px;
  width: auto;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-nav .nav-item {
  margin-left: 15px;
  font-size: 1.3em;
}
.navbar-nav .nav-link:hover {
  color: #aca48c;
  text-shadow: 1px 1px 2px rgba(216, 166, 166, 0.7);
}

.navbar-light .navbar-nav .nav-link {
  color: #1d021c;
}

.navbar-toggler {
  border: none;
}
@media (max-width: 768px) {
  .navbar-brand .logo {
    max-height: 50px;
    width: auto;
  }
}
/* Estilo de la tarjeta de la sección "Quiénes Somos" */
.about-section {
  position: relative;
  z-index: 1;
  margin-top: 15px; /* Ajusta este valor para modificar la distancia con la sección de bienvenida */
  background-color: #ede6dc;
}

.about-section .card {
  background-color: #b6a97d;
  color: #2e1800;
  border: none;
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 800px; /* Ajusta este valor para modificar el ancho máximo de la tarjeta */
  position: relative;
  top: 0px; /* Ajusta este valor para posicionar la tarjeta */
}

.about-section .card h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.about-section .card p {
  font-size: 1.2em;
}

.about-section .card img {
  width: 80%;
  border-radius: 10px;
  object-fit: cover;
}
@media (max-width: 991px) {
  .about-section .card h2 {
    font-size: 2em;
  }

  .about-section .card p {
    font-size: 1em;
  }

  .about-section {
    margin-top: 0;
  }

  .about-section .card {
    top: 50px;
  }
  .about-section .card img {
    width: 70%;
  }
}
/*Bienvenida*/
.welcome-section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  margin-top: 0;
}

.welcome-section picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.welcome-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.welcome-content {
  position: relative;
  z-index: 2;
}

.welcome-content h1 {
  font-size: 3em;
  margin-bottom: 20px;
  color: #ede6dc;
}

.welcome-content p {
  font-size: 1.5em;
  color: #ede6dc;
}

@media (max-width: 768px) {
  .welcome-img {
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .welcome-img {
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

@media (min-width: 1025px) {
  .welcome-img {
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}
/*------------------------------------------------*/
#whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

#whatsapp-button img {
  width: 50px;
  height: 50px;
}
/*------------------------------------------------*/
/* rooms */
/* rooms */
.rooms-section {
  background-color: #ede6dc;
  padding: 10px 0;
}

.rooms-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.rooms-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #651c0b;
}

.rooms-section p {
  font-size: 1.2em;
  color: #651c0b;
}

.room {
  background-color: #ccccb4; /* Color de fondo blanco para las habitaciones */
  margin-bottom: 30px;
  border: 1px solid #bfb8a7;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.room-img {
  width: 100%;
  height: auto;
}

.room-info {
  padding: 20px;
  text-align: center;
}

.room-info h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
  color: #651c0b;
}

.room-info p {
  font-size: 1em;
  color: #651c0b;
}

/* Carousel controls */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: none;
  color: #000;
  font-size: 2em;
  line-height: 1;
}

.carousel-control-prev,
.carousel-control-next {
  width: 40px;
  height: 40px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}
/*service*/
.services-section {
  padding: 10px 0;
  background-color: #d3ccbc;
}

.services-section .container {
  max-width: 1200px;
  margin: 0 auto;
}

.services-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #6e1e0c;
}
.services-description {
  color: #6e1e0c;
}

.services-section p {
  font-size: 1.2em;
}

.carousel-inner img {
  width: 100%;
  height: auto;
}

.carousel-caption {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10px;
  border-radius: 5px;
}

/* Estilo de las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev::before,
.carousel-control-next::before {
  font-size: 2em;
  color: rgba(0, 0, 0, 0.5);
}

/* Indicadores del carrusel */
.carousel-indicators li {
  background-color: #bfb8a7;
}

.carousel-indicators .active {
  background-color: #aca48c;
}

/* Leyenda para móviles */
.mobile-caption {
  display: none;
}

/* Media queries para diferentes tamaños de pantalla */

/* Móviles */
@media (max-width: 767px) {
  .carousel-caption {
    font-size: 0.8em;
    display: none;
  }
  .mobile-caption {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 0.8em;
  }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 991px) {
  .carousel-caption {
    font-size: 1em;
  }
}

/* Escritorios */
@media (min-width: 992px) {
  .carousel-caption {
    font-size: 1.2em;
  }
}
/*Inicia seccion galeroa*/
/* Galería */
.gallery-section {
  padding: 10px 0;
  background-color: #ccc4b3;
}

.gallery-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #6b1400;
}

.gallery-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #6b1400;
}

.gallery-item {
  padding: 5px;
}

.gallery-item img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.gallery-item img:hover {
  transform: scale(1.05);
}

#galleryCarousel .carousel-inner img {
  width: 100%;
  height: auto;
}

/* Estilo de las flechas del carrusel */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
}

.carousel-control-prev::before,
.carousel-control-next::before {
  font-size: 2em;
  color: #bfb8a7; /* Color de las flechas del carrusel */
}

/* Media queries para diferentes tamaños de pantalla */

/* Móviles */
@media (max-width: 767px) {
  #galleryCarousel .carousel-inner img {
    height: 300px;
    object-fit: cover;
  }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1199px) {
  .gallery-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

/* Escritorios */
@media (min-width: 1200px) {
  .gallery-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
}

/* Lightbox */

.lightbox {
  display: none; /* Asegúrate de que el lightbox esté oculto por defecto */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que esté encima de otros elementos */
}

.lightbox-content {
  max-width: 90%;
  max-height: 90%;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  user-select: none;
}

.prev {
  left: 15px;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 15px;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Tablet */
@media (max-width: 1199px) {
  .prev,
  .next {
    padding: 10px;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .lightbox {
    position: fixed; /* Fija el lightbox en la pantalla */
    top: 0;
    left: 0;
    width: 100vw; /* Ancho completo de la pantalla */
    height: 100vh; /* Alto completo de la pantalla */
    background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro con opacidad */
    display: flex;
    align-items: center; /* Centra verticalmente el contenido */
    justify-content: center; /* Centra horizontalmente el contenido */
    overflow: hidden; /* Evita el desplazamiento en el body */
  }

  .lightbox-content {
    max-width: 90%; /* Limita el ancho máximo de la imagen */
    max-height: 100%; /* Limita la altura máxima de la imagen */
    width: auto; /* Ajuste automático del ancho */
    height: auto; /* Ajuste automático de la altura */
  }

  /* Opcional: Ajuste de las flechas en la versión móvil */
  .prev,
  .next {
    display: none; /* Ocultar las flechas en móviles */
  }
}
/* Ubicación */
.location-section {
  padding: 10px 0 20px 0;
  background-color: #d2ccbc;
}

.location-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #751600;
}

.location-section p {
  font-size: 1.2em;
  margin-bottom: 40px;
  color: #751600;
}

.location-map,
.location-description {
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-map iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 5px;
}

.location-description {
  padding: 20px;
  background-color: #eae4d9;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #751600;
}

.location-description h3 {
  font-size: 1.8em;
  margin-bottom: 20px;
}

/* Media queries para diferentes tamaños de pantalla */

/* Móviles */
@media (max-width: 767px) {
  .location-map,
  .location-description {
    flex: 0 0 100%;
  }

  .location-map iframe {
    height: 300px;
  }

  .location-description {
    margin: 0 auto; /* Centra el contenido en pantallas móviles */
    width: 90%; /* Ajusta el ancho al 90% del contenedor padre */
  }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 991px) {
  .location-map,
  .location-description {
    flex: 0 0 100%;
  }

  .location-map iframe {
    height: 300px;
  }

  .location-description {
    margin-top: 20px;
  }
}

/* Escritorios */
@media (min-width: 992px) {
  .location-map,
  .location-description {
    flex: 0 0 50%;
  }

  .location-map iframe {
    height: 500px;
  }

  .location-description {
    margin-top: 0;
  }
}
/* Gancho Persuasivo */
.cta-section {
  padding: 30px 0; /* Reduce el padding en un 20% */
  background-color: #b4ac97;
  color: #4d0000;
  text-align: center;
}

.cta-section h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-family: "Pacifico", cursive; /* Tipografía diferente */
}

/* Footer */
.footer-section {
  padding: 10px 0; /* Reduce el padding en un 20% */
  background-color: #aca48c;
  color: #380000;
}

.footer-section .logo-footer {
  max-width: 150px;
  margin-bottom: 20px;
}

.footer-section h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.footer-section p {
  margin: 0 0 10px 0; /* Espaciado inferior para cada línea de contacto */
}

.footer-section .social-icons a {
  color: #380000;
  font-size: 1.5em;
  margin: 0 10px;
  display: inline-block;
  transition: color 0.3s;
}
.footer-section .contact-info{
  align-items: center;
}

.footer-section .social-icons a:hover {
  color: #007bff;
}

.footer-section .copyright {
  margin-top: 20px;
  font-size: 0.9em;
  color: #380000;
}

/* Media queries para diferentes tamaños de pantalla */

/* Móviles */
@media (max-width: 767px) {
  .location-map,
  .location-description {
    flex: 0 0 100%;
  }

  .location-map iframe {
    height: 300px;
  }

  .location-description {
    margin-top: 20px;
  }

  .cta-section {
    padding: 38.4px 0; /* Reduce el padding en un 20% */
  }

  .footer-section {
    padding: 25.6px 0; /* Reduce el padding en un 20% */
  }

  .footer-section .logo-footer,
  .footer-section .contact-info,
  .footer-section .social-icons {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-section .contact-info,
  .footer-section .social-icons {
    margin-bottom: 20px;
  }

  .footer-section .social-icons {
    text-align: center;
  }
}

/* Tabletas */
@media (min-width: 768px) and (max-width: 1199px) {
  .location-map,
  .location-description {
    flex: 0 0 50%;
  }

  .location-map iframe {
    height: 400px;
  }

  .location-description {
    margin-top: 20px;
  }

  .cta-section {
    padding: 38.4px 0; /* Reduce el padding en un 20% */
  }

  .footer-section {
    padding: 25.6px 0; /* Reduce el padding en un 20% */
  }

  .footer-section .logo-footer,
  .footer-section .contact-info,
  .footer-section .social-icons {
    text-align: center;
  }

  .footer-section .contact-info,
  .footer-section .social-icons {
    margin-top: 20px;
  }
}

/* Escritorios */
@media (min-width: 1200px) {
  .location-map,
  .location-description {
    flex: 0 0 50%;
  }

  .location-map iframe {
    height: 500px;
  }

  .location-description {
    margin-top: 0;
  }

  .cta-section {
    padding: 38.4px 0; /* Reduce el padding en un 20% */
  }

  .footer-section {
    padding: 25.6px 0; /* Reduce el padding en un 20% */
  }

  .footer-section .social-icons {
    text-align: right;
  }
  
}
/* Botón de WhatsApp */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: #fff;
  border-radius: 50%;
  padding: 12.5px; /* Aumenta el padding en un 50% */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  font-size: 39.6px; /* Aumenta el tamaño del ícono en un 10% */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: background-color 0.3s, transform 0.3s;
  text-decoration: none; /* Elimina la subrayado */
}

.whatsapp-button:hover {
  background-color: #20b358;
  transform: scale(
    1.1
  ); /* Oscurece el color y aumenta el tamaño al pasar el mouse */
  text-decoration: none; /* Elimina la subrayado */
}

@media (max-width: 768px) {
  .whatsapp-button {
    padding: 7.5px; /* Aumenta el padding en un 50% */
  }
}

/* Botón de flecha */
#scrollToTop {
  position: fixed;
  bottom: 20px; /* Ajusta la distancia desde el borde inferior según sea necesario */
  left: 20px; /* Ajusta la distancia desde el borde izquierdo según sea necesario */
  width: 60px;
  height: 60px;
  background-color: transparent; /* Fondo transparente */
  border: none;
  border-radius: 50%; /* Círculo perfecto */
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  z-index: 1040;
  opacity: 0;
  transition: opacity 0.3s, background-color 0.3s;
}

#scrollToTop i {
  font-size: 1.3em; /* Tamaño de la flecha aumentado en un 30% */
  color: #bfb8a6; /* Color de la flecha */
}

#scrollToTop:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Fondo sutil al pasar el mouse */
}

#scrollToTop.show {
  opacity: 1; /* Muestra el botón cuando la clase show está presente */
}

/* Media Queries para el tamaño del botón */
@media (max-width: 768px) {
  #scrollToTop {
    width: 40px;
    height: 40px;
  }

  #scrollToTop i {
    font-size: 1.1em;
  }
}
